<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*@thymesVar id="title" type=""*/-->
    <title>Блог</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="/blocks/header.html :: header"></header>
<div class="container" mt-7>
    <h1>Додавання статті</h1>
    <!--/*@thymesVar id="post" type=""*/-->
    <div th:each="el : ${post}">
        <form th:method="post">
            <input type="text" th:value="${el.title}" name="title" placeholder="Введіть назву" class="form-control"><br>
            <input type="text" th:value="${el.anons}" name="anons" placeholder="Введіть анонс" class="form-control"><br>
            <textarea name="fullText" placeholder="Введіть повний текст" class="form-control" th:text="${el.fullText}"> </textarea>
            <button type="submit" class="btn btn-success">Обновити</button>
        </form>
    </div>

</div>
<footer th:insert="/blocks/footer.html:: footer"></footer>
</body>
</html>