<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*@thymesVar id="title" type=""*/-->
    <title>Блог сайта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="/blocks/header.html :: header"> </header>
<div class="container" mt-7>
    <h1>Детально</h1>
    <div th:each="el:${post}"  class="alert alert-info mt-2">
        <h3 th:text="${el.title}"/>
        <p th:text="${el.fullText}"/>
        <p th:text="${el.views}"/>
        <a th:href="'/blog/' + ${el.getPostId()}+'/edit'"/>Редагувати<a/>
        <a th:href="'/blog/' + ${el.getPostId()}+'/remove'"/>Видалити<a/>

    </div>

</div>
<footer th:insert="/blocks/footer.html:: footer"></footer>
</body>
</html>